<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Bot_Channel" value="421834818494529540" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Bot_AllowedRoles" value="421834607982280705|421834690153021450" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Bns_Channel" value="434988635700461570" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Admin_Role" value="421834690153021450" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Guild" value="234884337630314507" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>