<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Bot_Channel" value="" />
    <add key="Bot_AllowedRoles" value="" />
    <add key="Bns_Channel" value="" />
    <add key="Admin_Role" value="" />
    <add key="Guild" value="" />
    
    <!-- Icon Links -->
    <add key="DAILY_QUEST_ICON" value="https://d1u5p3l4wpay3k.cloudfront.net/bladeandsoul_gamepedia/a/a2/Map_Normal_Challenge_repeat_progress.png?version=ae452cb5a9c2cac9c14328d0da969e2a"/>

    <!-- Third Party BnS API Endpoints -->
    <add key="BNS_BASE_URL" value="https://api.silveress.ie/bns/v3/" />
    <add key="QUEST_RESOURCE" value="dungeons/quests" />
    <add key="ITEM_RESOURCE" value="items"/>
    <add key="MP_RESOURCE" value="market/na/current"/>
    <add key="CR_RESOURCE" value="recipe/search"/>
  </appSettings>
</configuration>